@tailwind base;
@tailwind components;
@tailwind utilities;

.styled-text {
  text-transform: uppercase;
  margin: 6px 0 16px;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.color1 {
  color: #ff42a5;
}
